
#principal {
    background-color: white;
    border: 3px solid orange;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);

    height: auto;
    min-height: 65%;
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#login {

    margin-top: 40px;

    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#container-imagem {
    width: 50%;
}

#imagem {
    width: 100%;
}

.campo-form {
    display: flex;
    justify-content: center;
    width: 90%;
}

.label-geral {
    width: 25%;
}

.input-geral {
    width: 75%;
    height: 30px;
}

.input-geral:focus {
    outline: 1px solid orange;
}

#divisao {
    width: 75%;
    position: relative;
    display: flex;
}

#divisao .input-geral {
    width: 100%;
}

.icon-eye {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-45%);

    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

#btn-form {
    background-color: rgb(34, 73, 145);
    padding: 10px 20%;
    border-radius: 3px;
    font-weight: bold;
    color: white;
}

#btn-form:hover {
    background-color: rgb(31, 66, 137);
    color: orange;
    cursor: pointer;
}

@media (min-width: 768px) {
    #principal {
        width: 40%;
        height: 55%;
    }
}

@media (min-width: 1024px) {
    #principal {
        width: 30%;
        height: 70%;
    }
}

@media(max-height: 320px) and (min-width: 768px) {
    #principal {
        width: 70%;
        height: 90%;
    }
    #container-imagem {
        margin-top: 90px;
        width: 20%;
    }
    #login {
        width: 40%;
        height: 35%;
        font-size: 95%;
    }


    .label-login {
        width: 30%;
    }

    .input-login {
        height: 25px;
        width: 70%;
    }

    #btn-entrar {
        padding: 2.5px 10%;
    }
}