
#principal {
    background-color: white;
    background-size: cover;
    border: 3px solid orange;

    height: auto;
    min-height: 65%;
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#login {

    margin-top: 40px;

    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#container-imagem {
    width: 50%;
}

#imagem {
    width: 100%;
}

.campo-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.label-login {
    width: 25%;
}

.input-login {
    width: 75%;
    height: 30px;
}

.input-login:focus {
    outline: 1px solid orange;
}

#btn-entrar {
    background-color: rgb(34, 73, 145);
    padding: 10px 20%;
    border-radius: 3px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

#btn-entrar:hover {
    background-color: rgb(31, 66, 137);
    color: orange;
    cursor: pointer;
}

@media (min-width: 768px) {
    #principal {
        width: 40%;
        height: 55%;
    }
}

@media (min-width: 1024px) {
    #principal {
        width: 30%;
        height: 80%;
    }
}

@media(max-height: 320px) and (min-width: 768px) {
    #principal {
        width: 70%;
        
    }
    #container-imagem {
        margin-top: 65px;
        width: 20%;
    }
    #login {
        width: 40%;
        height: 40%;
    }


    .label-login {
        width: 30%;
    }

    .input-login {
        height: 25px;
        width: 70%;
    }

    #btn-entrar {
        padding: 5px 15%;
    }
}